<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>レシピ一覧</h2>
      <div class="col-sm-12 px-sm-0 mx-auto mb-5">
      <table class="table text-center admin-items mb-5">
          <thead>
            <tr>
              <th>レシピID</th>
              <th>レシピ名</th>
              <th>所要時間</th>
            </tr>
          </thead>
          <% @recipes.each do |recipe| %>
          <tbody>
            <tr>
              <td class="align-middle"><%= recipe.id %></td>
              <td class="align-middle"><%= link_to admin_recipe_path(recipe.id) do %>
                <u><%= recipe.recipe_name %></u>
              </td>
              <% end %>
              <td class="align-middle"><%= recipe.required_time %>分</td>
            </tr>
          </tbody>
          <% end %>
        </table>
      <%#= paginate @items %>
      </div>
    </div>
  </div>
</div>