<div class="burgers-container">
<h2>ケーキ</h2>
  <% @ingredient.each do |m| %>
    <div class="recipe">
      <%= m.recipe_name %>
      <%= m.ingredient %>
      <%= m.process %>
    </div>
  <% end %>
</div>