<div class="container about-box">
  <div class="plate mx-auto mb-5" id="cork">
  <h3>About</h3>
  </div>
  <p>
    sweets_recipe_commuはスイーツを作りたい人が様々なレシピを探しながら自分のレシピもシェアできるレビューサイトです。<br>
    お菓子作りが好きで、レシピの幅を広げたい人、<br>
    自分のレシピをみんなにシェアしてコメントをもらい、自分のレシピをブラッシュアップしていきたい人、<br>
    など様々なシーンでスイーツに興味のある方に使っていただければ幸いです。
    みんなでおいしいお菓子を作りましょう！！
  </p>
  <div class="about-img mx-auto"></div>
</div>