<div class="plate mx-auto" id="cork">
  <span>Welcome!!</span>
  </div>
<div class="home-box mx-auto my-3">
    <p class="home-text">ようこそ、sweets_recipe_commuへ！<br>
    このサイトは、スイーツを作りたい人が様々なレシピを探しながら自分のレシピもシェアできるレビューサイトです。
    <br>会員でない方もレシピの閲覧はできますが、
    投稿には会員登録が必要になります。
    </p>
</div>
